.doctor-cart{
    border: 1px solid #045EC5;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.664);
}
.doctor-profile{
    width: 50%;
    border-radius: 50%;
}
.btn-a{
    background-color: #0095DA;
}
.btn-a:hover{
    background-color: #045EC5;
}