.banner{
    height: 400px;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
}
.banner-messege{
    color: #00a7df;
}

.btn-banner{
    background-color: #00a7df;
}
.btn-banner:hover{
    background-color: #045ec5;
}