.covid-update-box{
    border-radius: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
}

@media only screen and (max-width:770px) {
    .grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 25px;
}
}